.area-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit minmax(150px 1fr));
  gap: 2rem;
}

.flexs {
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-top: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grands {
  font-size: 1.3rem;
}

.backestudio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://res.cloudinary.com/hdsqazxtw/image/upload/v1642799651/WWW/Group_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

.backBonito {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images2.alphacoders.com/128/1289176.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
