body {
  margin: 0;
}

.full-color {
  color: white;
  text-shadow: -2px -2px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.bgimg-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images4.alphacoders.com/936/936378.jpg");
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.alphacoders.com/594/594341.jpg");
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpaperset.com/w/full/6/6/3/521631.jpg");
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
}

.special1 {
  color: white;
  padding: 18px;
  font-size: 25px;
}
.special2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://png.pngtree.com/thumb_back/fh260/background/20220215/pngtree-blue-space-nebula-background-image_923334.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 18px;
  letter-spacing: 1px;
}

.secciones {
  background-color: blueviolet;
  height: 200px;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.secciones2 {
  background-color: black;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secciones4 {
  background-color: blue;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto {
  font-family: "Noto Serif Vithkuqi", serif !important;
}

.rem {
  width: 12rem;
  height: 12rem;
  padding: 2rem;
}

.grand {
  font-size: 1.4rem;
}

.shadows {
  text-shadow: -1px -1px 0 blue, -1px 1px 0 blue, 1px -1px 0 blue,
    1px 1px 0 blue;
}

.lights {
  text-shadow: -1px -1px 0 red, -1px 1px 0 red, 1px -1px 0 red, 1px 1px 0 red;
}

@media (max-width: 700px) {
  .rem {
    width: 0.1rem;
    height: 0.1rem;
    padding: 0rem;
  }
}

@media (max-width: 700px) {
  .secciones4 {
    background-color: blue;
    height: 200px;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
  }
}

.flexible {
  display: flex;
}

.bloke {
  display: block;
}
