.spacio {
  margin: 1px;
  padding: 5px;
}

.bgimg-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images4.alphacoders.com/936/936378.jpg");
  min-height: 80vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.alphacoders.com/594/594341.jpg");
  min-height: 80vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpaperset.com/w/full/6/6/3/521631.jpg");
  min-height: 80vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
}

.special1 {
  color: white;
  padding: 18px;
  font-size: 25px;
}

.secciones {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/originals/26/58/4f/26584f02daaa24da0ee118f8e62c1eed.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.secciones2 {
  background-color: black;
  height: 50px;
  width: 100%;
}

.secciones4 {
  background-color: white;
  height: 50px;
  width: 100%;
}

.texto {
  font-family: "Noto Serif Vithkuqi", serif !important;
}

.rem {
  width: 12rem;
  height: 12rem;
  padding: 2rem;
}

.grand {
  font-size: 1.4rem;
}

.shadows {
  text-shadow: -1px -1px 0 blue, -1px 1px 0 blue, 1px -1px 0 blue,
    1px 1px 0 blue;
}

.lights {
  text-shadow: -1px -1px 0 red, -1px 1px 0 red, 1px -1px 0 red, 1px 1px 0 red;
}

@media (max-width: 700px) {
  .rem {
    width: 0.1rem;
    height: 0.1rem;
    padding: 0rem;
  }
}

.flexible {
  display: flex;
}

.bloke {
  display: block;
}

@media (max-width: 700px) {
  .bgimg-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images4.alphacoders.com/936/936378.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgimg-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.alphacoders.com/594/594341.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgimg-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://wallpaperset.com/w/full/6/6/3/521631.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .secciones {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://i.pinimg.com/originals/26/58/4f/26584f02daaa24da0ee118f8e62c1eed.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .backproyecto {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images4.alphacoders.com/947/947776.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}
@media (max-width: 700px) {
  .rem {
    width: 0.1rem;
    height: 0.1rem;
    padding: 0rem;
  }
}
@media (max-width: 700px) {
  .rem {
    width: 0.1rem;
    height: 0.1rem;
    padding: 0rem;
  }
}

.cero {
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes neonEffect {
  0% {
    color: white;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white,
      0 0 25px white, 0 0 30px white, 0 0 35px white;
  }
  20% {
    color: black;
    text-shadow: none;
  } /* El negro no tendrá sombra ya que no se verá el efecto neón con sombra negra */
  40% {
    color: yellow;
    text-shadow: 0 0 5px black, 0 0 10px yellow, 0 0 15px yellow,
      0 0 20px yellow, 0 0 25px yellow, 0 0 30px yellow, 0 0 35px yellow;
  }
  60% {
    color: orange;
    text-shadow: 0 0 5px black, 0 0 10px orange, 0 0 15px orange,
      0 0 20px orange, 0 0 25px orange, 0 0 30px orange, 0 0 35px orange;
  }
  80% {
    color: gray;
    text-shadow: 0 0 5px black, 0 0 10px gray, 0 0 15px gray, 0 0 20px gray,
      0 0 25px gray, 0 0 30px gray, 0 0 35px gray;
  }
  100% {
    color: white;
    text-shadow: 0 0 5px black, 0 0 10px white, 0 0 15px white, 0 0 20px white,
      0 0 25px white, 0 0 30px white, 0 0 35px white;
  }
}

.neon-text {
  font-size: 2em;
  animation: fadeIn 1s 2s forwards, neonEffect 6s infinite;
  opacity: 0;
  font-family: "Arial", sans-serif;
}

.flexnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.underline-hover {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.underline-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 2px;
  background-color: currentColor;
  transition: right 0.3s ease;
}

.underline-hover:hover::after {
  right: 0;
}
